/* General Container */
.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url('https://thumbs.dreamstime.com/b/african-tribal-handicrafts-4670473.jpg');
    height: 120vh;
    background-size: cover;
    
}

/* Categories Section */
.categories-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    color:white;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.category-button {
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #e68900;
}

/* Products Section */
.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Product Card */
.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    width: 300px; /* Fixed width for consistency */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-name {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.product-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.add-to-cart-button {
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #e68900;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .product-card {
        width: 45%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        width: 100%; /* Full width for small screens */
    }
}
